@import 'styles/colors';
@import 'styles/variables';

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    margin: 1rem;
  }

  a {
    border: 4px solid transparent;
    color: map-get($colors, dark);
    text-decoration: none;
    padding: 0.5rem;
  }

  a:hover,
  a:active,
  a.active {
    // background: map-get($colors, primary);
    border-bottom-color: map-get($colors, secondary);
    color: map-get($colors, secondary);
  }

  @include media-min-width(40rem) {
    flex-direction: row;

    li {
      margin: 0 0.5rem;
    }

    a {
      color: map-get($colors, light);
      text-decoration: none;
    }
  }
}
