@import '../../../styles/colors';

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    margin: 1rem;
  }

  a {
    border: 1px solid transparent;
    color: map-get($colors, dark);
    text-decoration: none;
    padding: 0.5rem;
  }

  a:hover,
  a:active,
  a.active {
    background: map-get($colors, primary);
    border-color: map-get($colors, dark);
    color: map-get($colors, dark);
  }
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;

    li {
      margin: 0 0.5rem;
    }

    a {
      color: map-get($colors, light);
      text-decoration: none;
    }
  }
}
