@import 'styles/colors';
@import 'styles/variables';

.Bio {
  @extend .page_layout;

  p {
    max-width: 80vw;
    margin: 1.2rem auto;
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
  }
}
