$colors: (
  primary: #f26522,
  primary-light: #f0dbd1,
  secondary: #523ffb,
  dark: #262626,
  light: white,
  shadow: rgba(0, 0, 0, 0.26),
  deep-shadow: rgba(0, 0, 0, 0.75),
  warning: yellow,
  error: red
);
