$colors: (
  primary: #f26522,
  primary-dark: #61280d,
  primary-light: #f0aa89,
  secondary: #00e6f6, // #523ffb
  secondary-light: #89f0f7,
  bg: #3d3d3d,
  dark: #262626,
  light: white,
  shadow: rgba(0, 0, 0, 0.26),
  deep-shadow: rgba(0, 0, 0, 0.75),
  warning: yellow,
  error: red
);
