@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

.page_layout {
  min-height: calc(100vh - 4rem);
  width: 100%;
  margin: 0;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: map-get($colors, bg);
  color: map-get($colors, light);
  text-align: center;
}
