@import 'styles/colors';

.Home {
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  background: map-get($colors, light);
  text-align: center;

  p {
    max-width: 36rem;
    margin: 1.2rem auto;
    padding: 0 1rem;
    text-align: left;
  }
}
