@import 'styles/colors';
@import 'styles/variables';

.Home {
  @extend .page_layout;

  h1 {
    width: fit-content;
    padding: 0.2rem;
    margin-bottom: 2rem;
    border: 4px solid transparent;
    border-bottom-color: map-get($colors, primary);

    @include media-min-width(40rem) {
      padding: 0.4rem 4rem;
    }
  }

  .Home__Content {
    @extend .Home;
    max-width: 60rem;

    @include media-min-width(42rem) {
      padding: 0 1rem;
    }

    p {
      width: 100%;
      margin: 0;
      padding: 2rem;
      text-align: left;
      font-size: 1.2rem;

      @include media-min-width(42rem) {
        align-self: flex-end;
        width: 40rem;
        margin: 1rem 0;
        text-align: right;
        background-clip: padding-box;
        border: 4px solid transparent;
        box-shadow: 0 2px 6px map-get($colors, shadow);
      }

      &:nth-of-type(odd) {
        background: map-get($colors, primary);
        color: map-get($colors, dark);
        text-align: left;

        @include media-min-width(42rem) {
          align-self: flex-start;
        }
      }

      &:nth-of-type(even) {
        background: map-get($colors, secondary);
      }

      &:first-of-type {
        align-self: center;
        margin-top: 0;
        background: map-get($colors, light);
        color: map-get($colors, secondary);
        border-color: transparent;
        text-align: left;
        font-size: 1.5rem;
      }

      &:last-of-type {
        align-self: center;
        text-align: left;
        background: map-get($colors, dark);
        color: map-get($colors, primary);
        border-color: transparent;
        font-size: 1rem;

        @include media-min-width(42rem) {
          margin-bottom: 2rem;
          box-shadow: 0 2px 6px map-get($colors, shadow);
          border-right-color: transparent;
        }

        a {
          text-decoration: none;
          color: map-get($colors, tertiary);

          &:hover {
            color: map-get($colors, light);
            text-decoration: wavy underline;
          }
        }
      }
    }

    code {
      text-align: left;
      background: white;
      color: black;
      width: 100%;
      padding: 2rem;
    }
  }
}

.Header {
  width: 100%;
  padding: 1.5rem;
  margin: 0;
  background: map-get($colors, dark);
  color: map-get($colors, primary);
  text-align: center;

  img {
    height: 200px;
  }
}
