@import 'styles/colors';
@import 'styles/variables';

.Home {
  @extend .page_layout;
  padding-top: 0;

  p {
    max-width: 36rem;
    margin: 1.2rem auto;
    padding: 0 1rem;
    text-align: left;
  }
}

.Header {
  width: 100%;
  padding: 1.5rem;
  margin: 0;
  background: map-get($colors, dark);
  color: map-get($colors, primary);
  text-align: center;

  img {
    height: 200px;
  }
}
