@import '../../styles/colors';

.Home {
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 0;
  background: map-get($colors, light);
  text-align: center;

  p {
    width: 36rem;
    margin: 1.2rem auto;
    text-align: left;
  }
}
