@import 'styles/colors';
@import 'styles/variables';

.Home {
  @extend .page_layout;

  h1 {
    width: fit-content;
    padding: 0.2rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid map-get($colors, secondary);

    @include media-min-width(40rem) {
      padding: 0.4rem 4rem;
      border-radius: 4px;
    }
  }

  .Home__Content {
    @extend .Home;
    max-width: 60rem;

    p {
      width: 100%;
      margin: 1rem 0 0 0;
      padding: 2rem;
      text-align: left;
      font-size: 1.2rem;

      @include media-min-width(42rem) {
        align-self: flex-end;
        width: 40rem;
        text-align: right;
        border-radius: 8px;
      }

      &:nth-of-type(odd) {
        background: map-get($colors, secondary-light);
        color: map-get($colors, dark);
        text-align: left;

        @include media-min-width(42rem) {
          align-self: flex-start;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
      }

      &:first-of-type {
        align-self: center;
        margin: 0;
        background: map-get($colors, dark);
        color: map-get($colors, primary);
        text-align: left;
      }

      &:last-of-type {
        align-self: center;
        background: map-get($colors, primary-light);
        box-shadow: none;
        font-size: 1rem;
      }
    }
  }
}

.Header {
  width: 100%;
  padding: 1.5rem;
  margin: 0;
  background: map-get($colors, dark);
  color: map-get($colors, primary);
  text-align: center;

  img {
    height: 200px;
  }
}
