@import 'styles/colors';

@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

.main-navigation__menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include media-min-width(40rem) {
    display: none;
  }
}

.main-navigation__logo {
  height: 100%;
  display: flex;
  align-items: center;
  color: map-get($colors, light);

  a {
    height: 100%;
    padding: 0.5rem;
    display: inline-flex;
    text-decoration: none;
    color: map-get($colors, light);
  }

  img {
    height: 100%;
  }
}

.main-navigation__header-nav {
  display: none;

  @include media-min-width(40rem) {
    display: block;
  }
}

.main-navigation__drawer-nav {
  height: 100%;
}
