@import '../../../styles/colors';

.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 70%;
  background: map-get($colors, light);
  box-shadow: 0 2px 8px map-get($colors, shadow);
}
