.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    max-width: 800px;
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}
