@import 'styles/colors';
@import 'styles/variables';

.Tech {
  @extend .page_layout;

  ul {
    width: 18rem;
    margin: 0 auto;
    padding: 1rem 3rem;
    border: 2px solid map-get($colors, secondary);
    border-radius: 8px;
    text-align: left;
  }
}