@import '../../styles/colors';

.Tech {
  min-height: calc(100vh - 4rem);
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 0;
  background: map-get($colors, light);
  text-align: center;

  ul {
    width: 18rem;
    margin: 0 auto;
    padding: 1rem 3rem;
    border: 2px solid map-get($colors, secondary);
    border-radius: 8px;
    text-align: left;
  }
}